asgiref==3.3.1
beautifulsoup4==4.9.3
brow==0.0.3
captain==3.0.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-crispy-forms==1.11.1
django-js-asset==1.2.2
idna==2.10
lxml==4.6.2
Pillow==8.1.0
pytz==2021.1
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
sqlparse==0.4.1
stripe==2.56.0
urllib3==1.26.4
wishlist==0.5.3